
/* INICIO Estilos Menu*/
header .encabezado img{
    min-width: 180px;
    max-width: 220px;

}
header .encabezado ul{
    margin: 0px auto;
    float: right;
    padding-top: 30px;
}
header .encabezado ul a{
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: 'poppins-regular', sans-serif;
    font-size: 20px;
}
header .encabezado ul li{
    list-style: none;
    float: left;
    margin: 10px;
    padding-right: 20px;
    line-height: 24px;
}
/* FIN Estilos Menu*/
.slider{
    background-color: transparent;
    width: 100%;
    padding: 0px auto;
    margin: 0px auto;
}
.slider{
    padding-top: 0px;
}
.encabezado{
    margin-top: 0px;
    position: absolute;
    width: 100%;
}


.slider h1{
    color: white;
    text-align: center;
    margin-top: 200px;
    font-size: 50px;
    font-family: "Tenor Sans";
}

.slider h3{
    font-size: 20px;
    text-align: center;
    margin: 100px;
}

.slider button{
    color: white;
    font-size: 30px;
    background-color: #6DCEE2;
    border-radius: 5px;
}

/*fin del slider*/
.logoWp a img{
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 10;
    color: white;
    background-color: transparent;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
    border-radius: 20%;
}
/* Inicio Header*/
header{
    height: 100px;
}
header img{
    float: left;
}
ul li{
    height: 26px;
    float: left;
    list-style: none;
    text-align: right;
    padding: 10px;
    font-size: 25px;
    line-height: 26px;
    letter-spacing: 2px;
    
}

/*Inicio del Main */
h2{
    font-size: 30px;
    margin-bottom: 30px;
    text-decoration: none;


    


}
.container{

    margin: auto;
    width: 90%;
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.portfolios{
    margin-top: 100px;

}


.content-center{ 
    max-width: 800px;
    margin: 0 auto 66px auto;
    text-align: center;
    

}
.content-center h2{
    margin-top: 50px;
    
}

.portfolios-container {
    position: relative;
    margin: 10px 0;
    border-radius: 10px;
}

.portfolios-container img {
    width: 40%;
   display: inline-block;
}
.portfolios-detalles {
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 9000;
    
}

.portfolios-detalles h2 {
    color: white;
    font-size: 25px;
    text-decoration: none;
}

section{
   padding: 120px;
   padding-top: 50px;
}


footer {
    background-color: #4B4646 !important;
    height: 150px;
}


footer img {
    float: left;
    margin: auto;
    min-width: 130px;
    padding-right: 10em;
    padding-top: 1.4em;
}

footer div.enlaces {
    padding-top: 2em;
}


div a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px; 
    font-family: 'poppins-bold', sans-serif !important;
}


h5#rights {
    font-size: 15px;
    color: #2B92B7;
    float: left;
    margin-inline-start: 2.5em;
}