header .encabezado img{
    min-width: 180px;
    max-width: 220px;
    padding-top: 20px;

}
header .encabezado ul{
    margin: 0px auto;
    float: right;
    padding-top: 30px;
}
header .encabezado ul a{
    text-decoration: none;
    color: #4b4646;
    text-align: center;
    font-family: 'poppins-regular', sans-serif;
    font-size: 20px;
    transition: all 500ms;
}
header .encabezado ul a:hover{
    border-bottom: 1px solid #4b4646;
}
header .encabezado ul li{
    list-style: none;
    float: left;
    margin: 10px;
    padding-right: 20px;
    line-height: 24px;
}

/* Inicio de ficha */

div#ficha {
    margin-bottom: 6.5em;
}

img#fotonico {
    border-radius: 100%;
    position: relative;
    float: right;
    margin-right: 6em;
    margin-top: 1.0em;
    
    

}


h1#nombre {
    margin-left: 1em;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    font-size: 2.5em;
    color: #4b4646;
    font-size: 30px;
    margin-top: 30px;
}


ul#datos {
    list-style: none;
    justify-content: center;
    font-size: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(75, 75, 77);
    font-size: 20px;
    
    padding-top: 15px;
}

/* Fin de Ficha */

/* Inicio de Footer*/
footer {
    background-color: #4B4646 !important;
    height: 150px;
    position: relative;
    width: 100%;
}


footer img {
    float: left;
    margin: auto;
    min-width: 130px;
    padding-right: 10em;
    padding-top: 1.6em;
    padding-left: 1em;
}

footer div.enlaces {
    padding-top: 2.2em;
}

div a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 20px; 
    font-family: 'poppins-bold', sans-serif !important;
}

footer .enlaces a{
    transition: all 500ms;
}
footer .enlaces a:hover {
    border-bottom: 1px solid white;

}
h5#rights {
    font-size: 15px;
    color: #2B92B7;
    float: left;
    margin-inline-start: 2.5em;
    margin-left: 80px;
} 

.logoWp a img{
    position: fixed;
    bottom: 25px;
    right: 50px;
    z-index: 10;
    color: white;
    background-color: transparent;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
    border-radius: 20%;
}