/* INICIO Estilos Menu*/
html {
    margin: 0;
}


header .encabezado img {
    min-width: 180px;
    max-width: 220px;
}

header .encabezado ul{
    margin: 0px auto;
    float: right;
    padding-top: 30px;
}
header .encabezado ul a{
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    transition: all 1s;
}
header .encabezado ul li{
    list-style: none;
    float: left;
    margin: 10px;
    padding-right: 20px;
    line-height: 24px;

}
header .encabezado ul li a:hover{
    border-bottom: 1px solid white;
}
/* FIN Estilos Menu*/
.slider{
    background-color: transparent;
    width: 100%;
    padding: 0px;
    margin: 0px ;
    object-fit: cover;
    
}
.slider{
    padding-top: 0px;
}
.encabezado{
    margin-top: 0px;
    position: absolute;
    width: 100%;
}


.slider h1{
    color: white;
    text-align: center;
    margin-top: -23px;
    font-size: 80px;
    font-family: 'Titillium Web', sans-serif;
    font-style: bold;
}

.slider h3{
    font-size: 25px;
    text-align: center;
    margin-top: 240px;
    color: white;
    font-family: 'Titillium Web', sans-serif;
}


.slider button{
    color: white;
    font-size: 30px;
    background-color: #6DCEE2;
    border-radius: 5px;
}

/*fin del slider*/
.logoWp a img{
    position: fixed;
    bottom: -40px;
    right: 50px;
    z-index: 10;
    color: white;
    background-color: transparent;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
    border-radius: 20%;
}
/* Inicio Header*/
header{
    height: 100px;
    font-family: 'Titillium Web', sans-serif;

}
header img{
    float: left;
    margin-bottom: 100px;
}
ul li{
    height: 26px;
    float: left;
    list-style: none;
    text-align: right;
    padding: 10px;
    font-size: 25px;
    line-height: 26px;
    letter-spacing: 2px;
    
}

/*Inicio del Main */


body {
    background: #f2f2f2;
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    }


h3 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #494747 ;

}

p {
    font-size: 18px;
    color: #8a8686 ;
    line-height: 1.8;
    margin-bottom: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 5em;
    padding: 40px;
}

.content-center {
    padding-top: 60px;
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
}

.location-listing {
    position: relative;
}

.location-image {
    line-height: 0;
    overflow: hidden;
}

.location-image img {
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
    padding:0;
    width: 100%; 
    height: 100%;
    -moz-transition: all 3s;
    -webkit-transition: all 2s;
    transition: all 2s;

}

.location-title {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;


    color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;
}


.location-listing:hover .location-title {
    opacity: 1;
    margin: 0;
    padding-bottom: 0;

    
}

.g-light-grey {
    background-color: #f5f5f5 !important;
}
  
  .location-listing:hover .location-title {
    opacity: 1;
    transition: opacity .8s;
  }
  
  .location-listing:hover .location-image img {
    filter: blur(2px);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  section {
    padding: 120px 0;
}

/* Inicio de Footer*/
footer {
    background-color: #4B4646 !important;
    height: 150px;
    position: relative;
    width: 100%;
}


footer img {
    float: left;
    margin: auto;
    min-width: 130px;
    padding-right: 10em;
    padding-top: 1.4em;
    padding-left: 1em;
}

footer div.enlaces {
    padding-top: 2.2em;
}

div a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 20px; 
    font-family: 'poppins-bold', sans-serif !important;

}
footer .enlaces a{
    transition: all 500ms;
}
footer .enlaces a:hover {
    border-bottom: 1px solid white;

}


h5#rights {
    font-size: 15px;
    color: #2B92B7;
    float: left;
    margin-inline-start: 2.5em;
    margin-left: 80px;
}

/*Fin del footer */