header .encabezado img{
    min-width: 180px;
    max-width: 220px;

}
header .encabezado ul{
    margin: 0px auto;
    float: right;
    padding-top: 30px;
}
header .encabezado ul a{
    text-decoration: none;
    color: #4b4646;
    text-align: center;
    font-family: 'poppins-regular', sans-serif;
    font-size: 20px;
}
header .encabezado ul li{
    list-style: none;
    float: left;
    margin: 10px;
    padding-right: 20px;
    line-height: 24px;
}