body{
    background: black;
    margin: 0px auto;
    color: white;
}
/* Inicio Header*/
header{
    height: 100px;
}
header img{
    margin-left: 100px;
    float: left;
}

ul{
    float: right;
    margin-right: 10px;
    height: 50px;
    margin-top: 40px;
}

ul li{
    height: 26px;
    float: left;
    list-style: none;
    padding: 10px;
    font-size: 25px;
    line-height: 26px;
    letter-spacing: 2px;
}